.float-frame {
    float: right;
    position: fixed;
    text-align: center;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    overflow: auto;
}

.float-frame h2 {
    margin-top: 0;
    text-align: center; 
}

.float-frame p {
    margin: 0 0 10px;
}

.HN {
    font-size: 24px;
    color: #333; 
    font-style: italic;
    line-height: 1.5; 
    text-align: center;
}
.HN6 {
    font-size: 20px;
    color: #333; 
    font-style: italic;
    line-height: 1.5; 
    text-align: center;
}
.BODY {
    font-size: 16px;
    color: #555; 
    line-height: 1.6; 
    text-align: left;
    background-color: #f2f2f2; 
}

.menu {
    position: relative;
    display: inline-block;
    margin: 0; 
}

.toggle-menu {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menu:hover .popup-menu {
    display: block;
}

.popup-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0; 
    z-index: 999;
}

.popup-menu li {
    list-style-type: none;
}

.popup-menu li a {
    text-decoration: none;
    color: #333;
}

.popup-menu li a:hover {
    color: #007bff;
}


/* Стилі для контейнера з логотипом */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

a {
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
    color: #2e0b80; 
}

a:link {
    color: #007bff; 
}

a:visited {
    color: #4CAF50; 
}

a:active {
    color: #ff1505; 
}

th:first-child {
    font-style: italic;
}

#unique-heading {
    font-size: 36px; 
    text-align: center; 
    color: #000000; 
    font-weight: bold; 
}
#unique-heading:before {
    content: "\2022"; 
    margin-right: 10px; 
    color: #000000; 
}

#unique-heading:after {
    content: "\2022"; 
    margin-left: 10px; 
    color: #000000; 
}

.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

/* Стилі для футера */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 999;
    display: none; /* Схований футер за замовчуванням */
}

ul {
    list-style-type: disc; 
    margin-bottom: 15px; 
    color: #333; 
}

ol {
    list-style-type: decimal; 
    margin-bottom: 15px; 
    color: #333; 
}

ul li,
ol li {
    margin-bottom: 10px; 
    font-size: 16px; 
}

dl {
    margin-bottom: 15px; 
}

dt {
    font-weight: bold; 
    color: #0066cc; 
}

dd {
    margin-left: 20px; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 15px; 
}

th {
    padding: 10px; 
    border: 1px solid #ddd; 
    background-color: #aeaeae; 
    font-weight: bold; 
}

td {
    padding: 10px; 
    border: 1px solid #ddd; 
    font-size: 14px; 
}



